MinCount: 1

MaxCount: 1

DryRun: false

ImageId: "ami-035fa263"

KeyName: "test_key"

InstanceType: "t1.micro"

Placement:
    AvailabilityZone: "us-west-2b"

NetworkInterfaces: [
    {
      Groups: [
        "sg-8bf4e4ec"
      ]
      SubnetId                 : "subnet-f3c01585"
      DeviceIndex              : 0
      AssociatePublicIpAddress : true
    }
]

