MinCount: 1

MaxCount: 1

DryRun: false

ImageId: "ami-9f18e7ff"

KeyName: "test_key"

InstanceType: "t2.micro"

Placement:
    AvailabilityZone: "us-west-2b"

NetworkInterfaces: [
    {
      Groups: [
        "sg-04d6c663,sg-8bf4e4ec"
      ]
      SubnetId                 : "subnet-f3c01585"
      DeviceIndex              : 0
      AssociatePublicIpAddress : true
    }
]

